



nav .logo {
   color:  #fff;
   font-size: 1.2rem;
}

nav ul {
   display: flex;
   gap: 2rem;
}

nav ul li a {
   color: #fff;
   padding: 5px 10px;
   border-radius: 15px;
  -webkit-box-shadow: 10px 10px 55px -8px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 55px -8px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 55px -8px rgba(0,0,0,0.75);
}

nav ul li {
   cursor: pointer;
}


nav ul li a:hover {
   background-color: #fff;
   color: #000;
}

.container {
   margin: 100px auto;
   padding: 2rem;
   width: 900px;
   color:  #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.container p {
   font-weight: 500;
   font-size: 2rem;
}


